body{
  background-color:silver;
}

.App {
}

.top-level-container{
  display:block;
  margin: auto !important;
  width:70%;
}

pre {
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  overflow-x: auto;
}
h2, h3 {
  color: #333;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
}
table, th, td {
  border: 1px solid #ddd;
}
th, td {
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f4f4f4;
}